
/* body{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

.front-bg{
    height: 100vh;
    background: url("./images/stone_paper_scissors_logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} */

#navigation-bar{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.nav-opts{
    display: flex;
    justify-content: end;
}

.bg-light-pink{
    background-color: yellow;
}


@media screen and (max-width: 991px)
{
    .nav-opts{
        justify-content: start;
    }
}

.sps-logo{
    height: 50px;
}
