body{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

#gametype{
    min-height: 100vh;
    /* width: 100vw; */
    background: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.name{
    border-right: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.intro-of-game{
    width: 60%;
    /* height: 90%; */
    padding: 10% 4%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.play-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
}

.center{
    height: 70%;
    width: 100%;
    padding-top: 50px;
}


.btn{
    height: 100px;
    width: 30%;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 40px;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.s_p_btn{
    height: 35%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.m_p_btn{
    height: 35%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2% 7%;
    background: yellow;
}

.symbol{
    padding: 10px;
}

@media screen and (max-width: 991px)
{
    .name{
        border: none;
    }
}

