*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    background: url("./images/gameplay_back.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.heading{
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 2% 7%;
}

.tag{
    background-color: gray;
    padding: 20px;
    border-radius: 40px;
}

.cams{
    padding: 2% 7%;
}

.score{
    padding: 2% 7%;
}

.player-1-div{
    display: flex;
    justify-content: center;
}

.player-2-div{
    display: flex;
    justify-content: center;
}

.player-1-cam{
    background-color: #fff;
    height: 350px;
    width: 100%;
    border-radius: 20px;
    border: 3px solid yellow;
    /* border-radius: 40px; */
    /* padding: 40px; */
}

.cam-design{
    border-radius: 20px;
}

.v-s{
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.sps-btn {
  background-color: #3DD1E7;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.sps-btn:focus {
  outline: 0;
}

.sps-btn:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.sps-btn:hover:after {
  bottom: 2px;
  left: 2px;
}


.player-2-cam{
    background-color: #fff;
    height: 350px;
    width: 100%;
    border-radius: 20px;
    border: 3px solid lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-radius: 40px; */
}

.design-timer{
    color: yellow;
    margin-top: 30px;
    font-size: 4rem;
    height: 77px;
}

.player-1-score{
    background-color: #fff;
    height: 100px;
    width: 100%;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid yellow;
}

.player-2-score{
    background-color: #fff;
    height: 100px;
    width: 100%;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid lightblue;

}

.player-1-div{
    display: flex;
    justify-content: center;
}

.player-2-div{
    display: flex;
    justify-content: center;
}

.player-2-img-design{
    width: 80%;
    height: 80%;
}

@media screen and (max-width: 991px){
    .player-1-cam{
        width: 60%;
    }
    .player-2-cam{
        width: 60%;
        margin-top: 40px;
    }
    .player-1-score{
        width: 60%;
    }
    .player-2-score{
        width: 60%;
        margin-top: 40px;
    }
    .v-s{
        width: 60%;
        margin-top: 40px;
    }
    .cams{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .score{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


@media (min-width: 768px) {
    .sps-btn {
      padding: .75rem 3rem;
      font-size: 1.25rem;
    }
  }

